$color_fuscous_gray_approx: #515151;
$white_80: rgba(255, 255, 255, 0.8);
$white_90: rgba(255, 255, 255, 0.9);
$white_60: rgba(255,255,255, 0.6);
$white_30: rgba(255,255,255, 0.3);
$white_50: rgba(255,255,255,.5);
$black_15: rgba(0, 0, 0, 0.15);
$black_60: rgba(0, 0, 0, 0.60);
$black_50: rgba(0, 0, 0, 0.50);
$black: #000;
$white: #fff;
$green: #b5c178;
$orange: #dc6900;
$color_blue: #0091d9;
$dark_blue: #004184;
$blue_90: rgba(0,145,217,.9);
$light_blue: #0E9DD8;
$deep_blue: #015fd0; 
$color_mountain_mist_approx: #999;
$cerulean: #00aced;


