<!DOCTYPE html>
<!--[if lte IE 8]><html id="ie" class="no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9"  lang="en"><![endif]-->
<!--[if !IE ]><!--><html lang="en" class="no-js" ><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cool Energy Program 2014</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/normalize.css">

    <!--[if !IE]> -->
  <!-- build:css({app,.tmp}) stylesheets/main.css -->
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" data-skrollr-stylesheet>
    <!-- endbuild -->
    <!-- <![endif]-->

    <!--[if IE 9]>
        <link href="/stylesheets/ie9.css" rel="stylesheet" type="text/css" data-skrollr-stylesheet>
    <![endif]-->

    <!--[if lt IE 9]>
        <link href="/stylesheets/ye-olde-ie.css" rel="stylesheet" type="text/css" data-skrollr-stylesheet>
    <![endif]--> 

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- endbuild -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/html5shiv.js"></script>
        <script type="text/javascript" src="/js/selectivizr-min.js"></script>
        <script type="text/javascript" src="/js/respond.min.js"></script>
       <![endif]--> 
    <script src="/js/modernizr.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->