$dim: 1000px;
$base-font-size: 12;
$archaic: true;
$modern: false;

@import "main";

.backgroundimage{
  -ms-behavior: url(/JS/polyfills/backgroundsize.min.htc);
}

[class^="circle"] {
  -ms-behavior: url(/js/polyfills/PIE.htc);
}

#intro{
  #intro-content-bg {
      background-color: rgb(255,255,255);
      @include opacity(.5);
   }
  #intro-content{
    .box{
      display: none;
    }
    .asterick{
      display: none;
    }
    #intro-content-top{
      #intro-title{
        padding: 2%;
        position: absolute;
        width: 100%;
        margin: auto;
        height: rem(8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    #intro-content-bottom{
      #intro-section{
        position: absolute;
        width: 100%;
        margin: auto;
        height: rem(25);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        #intro-year{
          display: inline-block;
          float: left;
        }
        #intro-text{
          display: inline-block;
          float: right;
          width: rem(35);
        }
      }
    }
   }
   footer{
    height: 50px;
   }
}

#street-upper{
  #street-content{
    .top{
      display:none;
    }
    .asterick{
      display:none;
    }
    .street-text{
      height: rem(17.5);
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;
    }
  }
}
#skyline{
  .triangle-1, .triangle-2{
    display:none;
  }
  .skyline-container{
    background-color: $black;
    @include opacity(.5);
    .skyline-content{
      h1{
        position: absolute;
        width: 100%;
        margin: auto;
        height: rem(3);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
#brick{
  .panel{

    background-color: $white;
    @include opacity(.6);
  }
  #brick-content{
    h1#brick-text{
      position: absolute;
      width: 12em;
      text-align: left;
      display: block;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 5em;
    }
    .right-panel{
      right: 0;
      position: absolute;
      .circle{
        width: 22.5em;
        height: 22.5em;
        @include opacity(.6);
        background-color: $white;
        @include border-radius(50%);
        position: absolute;
        right: 0;
        margin: auto;
        left:0;
        top:0;
        bottom:0;
        padding: 5%;
        h1{
          padding: auto;
          display: block;
          position: absolute;
          right: 0;
          margin: auto;
          left: 0;
          top: 0;
          bottom: 0;
          height: 1em;
        }
      }
    }
  }   
}

#street-lower{
  #map-wrapper{
    [class^="layer-"] {
      .circle-outter{
        @include border-radius(50%);
        background-color: $white;
        @include opacity(0.3);
      }
      .circle-inner{
        @include border-radius(50%);
        background-color:$white;
        @include opacity(0.6);
      }
    }
  }
  #map-header{
    h1{
      position: absolute;
      width: 100%;
      height: 1em;
      font-weight: 400;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
#taxi{
  #circle-wrapper{
    #circles{
      [id^="circle-"] {
        display: inline-block;
        float:left;
        > div{
          width: 85%;
          height: 55%;
        }
      }
    }
  }
}

#fence{
  #fence-header{
    background-color: $black;
    @include opacity(0.6);
  }
  #fence-content{
    .circles{
      .circle{
        @include border-radius(50%);
        background-color: $white;
        @include opacity(0.9);
        display: inline-block;
        float: left;
        &#abc{
          background-image: url("../assets/logo_abc.png");
          &:hover{
            background-image: url("../assets/logo_abc_white.png");
          }
        }
        &#fox{
          background-image: url("../assets/logo_fox.png");
          &:hover{
            background-image: url("../assets/logo_fox_white.png");
          }
        }
        &#gothamist{
          background-image: url("../assets/logo_gothamist.png");
          &:hover{
            background-image: url("../assets/logo_gothamist_white.png");
          }
        }
        &#nyc1{
          background-image: url("../assets/logo_nyc1.png");
          &:hover{
            background-image: url("../assets/logo_nyc1_white.png");
          }
        }
        &#wired{
          background-image: url("../assets/logo_wired.png");
          &:hover{
            background-image: url("../assets/logo_wired_white.png");
          }
        }
        &#dna{
          background-image: url("../assets/logo_dna.png");
          @include background-size(46%);
          &:hover{
            background-image: url("../assets/logo_dna_white.png");
          }
        }
      }
    }
  }
}

#bridge{
  #bridge-overlay{
    background-color: $color_blue;
    @include opacity(0.9);
  }
  #bridge-content{
    h1{
      top:0;
      bottom:0;
      right:0;
      left:0;
      margin: auto;
      height: rem(2);
    }
    .table{
      .row.first{
        vertical-align: bottom;
        height: rem(3);
              .col{
                &:right{
                  color: $deep_blue;
                }
        }
      }
      .row{
        .col.left{
          float:left;
          text-align: left;
        }
        .col.right{
          float:right;
          text-align: right;
          color: $black;
        }
      }
    }
  }
}

