$dim: 1000px;
$base-font-size: 12;
$archaic: true;
$modern: false;

@import "main";

.backgroundimage{
  -ms-behavior: url("../js/polyfills/backgroundsize.min.htc");
}

[class^="circle"] {
  -ms-behavior: url("../js/polyfills/PIE.htc");
}

#intro{
  #intro-content-bg {
      background-color: $white;
      @include opacity(.5);
   }
  #intro-content{
    .box{
      display: none;
    }
    .asterick{
      display: none;
    }
    #intro-content-top{
      #intro-title{
        padding: 2%;
        position: absolute;
        width: 100%;
        margin: auto;
        height: rem(4.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    #intro-content-bottom{
      #intro-section{
        position: absolute;
        width: 100%;
        margin: auto;
        height: rem(25);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        #intro-year{
          display: inline-block;
          float: left;
        }
        #intro-text{
          display: inline-block;
          float: right;
          width: rem(35);
        }
      }
    }
   }
   footer{
    height: 60px;
    #footer-content{
      height: 3em;
    }
   }
}

#street-upper{
  #street-content{
    .top{
      display:none;
    }
    .asterick{
      display:none;
    }
    .street-text{
      height: rem(17.5);
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;
    }
  }
}
#skyline{
  .triangle-1, .triangle-2{
    display:none;
  }
  .skyline-container{
    background-color: $black;
    @include opacity(.5);
    .skyline-content{
      h1{
        position: absolute;
        width: 100%;
        margin: auto;
        height: rem(3);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
#brick{
  .panel{

    background-color: $white;
    @include opacity(.6);
  }
  #brick-content{
    h1#brick-text{
      position: absolute;
      width: 12em;
      text-align: left;
      display: block;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 5em;
    }
    .right-panel{
      right: 0;
      position: absolute;
      .circle{
        width: 22.5em;
        height: 22.5em;
        background-image: url("../assets/hose_circle.png");
        @extend .backgroundimage; 
        position: absolute;
        right: 0;
        margin: auto;
        left:0;
        top:0;
        bottom:0;
        padding: 5%;
        h1{
          padding: auto;
          display: block;
          position: absolute;
          right: 0;
          margin: auto;
          left: 0;
          top: 0;
          bottom: 0;
          height: 1em;
          font-size: 8em;
        }
      }
    }
  }   
}

#street-lower{
  #map-wrapper{
    [class^="layer-"] {
      .circle-outter{
        background-color: transparent;
        background-image: url("../assets/map_outter_circle.png");
        @extend .backgroundimage; 
      }
      .circle-inner{
        background-color: transparent;
        background-image: url("../assets/map_inner_circle.png");
        @extend .backgroundimage;
      }
    }
  }
  #map-header{
    font-size: 5em;
    h1{
      font-size: 14em;
      position: absolute;
      width: 100%;
      height: 1em;
      font-weight: 400;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

#taxi{
  #circle-wrapper{
    #circles{
      width: 38em;
      margin: auto;
      [id^="circle-"] {
        background-image: url("../assets/stats_circle.png");
        @extend .backgroundimage;
        display: inline-block;
        float:left;
        > div{
          width: 85%;
          height: 55%;
        }
      }
    }
  }
}

#fence{
  #fence-header{
    background-color: $black;
    @include opacity(0.6);
  }
  #fence-content{
    .circles{
      width: 40em;
    }
  }
}

#bridge{
  #bridge-overlay{
    background-color: $color_blue;
    @include opacity(0.9);
  }
  #bridge-content{
    h1{
      top:0;
      bottom:0;
      right:0;
      left:0;
      margin: auto;
      height: rem(2);
    }
  }
}

#outro{
  #closing{
    .wrapper{
      width: 800px;
    }
  }
}