#skyline {
  background-image: url("../assets/bgphotos/building450.jpg");    
   @include retina{
            background-image: url("../assets/bgphotos/building450@2x.jpg");
        } 
  @include break-min($main-break-lg){
      background-image: url("../assets/bgphotos/building1200.jpg");
  }
  @include break-min($main-break-xxtrlg){
      background-image: url("../assets/bgphotos/building.jpg");
  }
  @extend .backgroundimage;  
  [class^="triangle-"]{
    width:0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 2;
    @include transition-property(scale);
    @include transition-duration(.5s);
    @include transition-timing-function(ease-in);
  }
  .triangle-1{
    left: 0;
    @include transform-origin(0%, 0%);
    }
  .triangle-2{
    right: 0;
    @include transform-origin(101%, 101%);
  }
  .skyline-container {
    background-color:  $black_50;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .skyline-content {  
    font-size: rem(1.6);
    font-weight: 700;
    line-height: rem(1.9);
    h1 {
      margin: 0;
      display: block;
      width: 87%;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      position: absolute;
      @include transform(translate(-50%, -50%));
      padding: 15% 2%;
      @include break-min($panel3-text-break) {
      font-size: rem(2.1);
      line-height: rem(2.4);
      @include text-shadow($black_15 6px 4px 5px); 
    }
    @include break-min($main-break-xtrlg) {
      font-size: rem(3.08);
      line-height: rem(3.5);
    }
    @include break-min($main-break-xxtrlg) {
      font-size: rem(3.5);
      line-height: rem(4.2);
      width: 75%;
      }

    }
  }
}
